section {
    min-height: 100%;
}

#Home {
    
}

#Home > div {
    margin: 6em 0 0 6em;
}

#Home > div > * {
    margin: 0;
    margin-bottom: 24px;
}

#home-hello {
    display: flex;
    flex-direction: column;
}

#home-hello p{
    margin: 0;
    margin-bottom: 8px;

    font-size: 2em;
    color: white;
}

#project-here {
    color: white;
}

#project-here a {
    color: var(--c4);
}