#Home {
    min-height: 100%;
}

#Home > .container {
}

#Home > .container > * {
    margin: 0;
    margin-bottom: 24px;
}

#home-hello {
    display: flex;
    flex-direction: column;
}

#home-hello > div {
    display: flex;
}

#home-hello > div > * {
    margin: 0;
    margin-bottom: 8px;

    font-size: 2em;
    color: var(--white);
}

#home-hello > div > p {
    margin-right: 8px;
}

#project-here {
    color: var(--white);
}

#project-here p {
    font-weight: 600;
    margin: 0 6px 0 0;
}

#project-here a {
    color: var(--c4);
}

#About > div {
    height: fit-content;
}

.white {
    color: var(--white);
}